@media only screen and (max-width: 1500px) {

    .text-part p {
        width: 90%;
    }

    header {
        padding: 15px 30px 15px 80px;
    }
    header .title, header .title:visited {
        width: 40%;
    }
    header ul {
        width: 60%;
    }
    header li {
        padding: 0px 20px;
    }
    header li a, header li a:visited {
        font-size: 1.2em;
    }


    .home .home-left {
        width: 53%;
        height: 80%;
        padding: 0px 0 0 12px;
    }
    .home .home-left  h2 {
        font-size: 2.2em;
    }
    .home .home-left p {
        margin: 7px 0 12px 0;
    }
    .home .btn, .home .btn:visited {
        font-size: 1.2em;
        padding: 7px;
    }
    .home .home-right {
        width: 47%;
    }
    .home .home-right .top .img-box1 {
        width: 270px;
    }
    .home .home-right .top .img-box2 {
        width: 215px;
        height: 135px;
    }
    .home .home-right .bottom {
        margin-top: 70px;
    }
    .home .home-right .bottom .img-box1 {
        width: 250px;
        height: 168px;
    }
    .home .home-right .bottom .img-box2 {
        width: 255px;
        height: 380px;
    }
    
    
    .about {
        padding-top: 115px;
    }
    .about .text-part p {
        width: 85%;
    }
    .about .text-part-2{
        width: 85%;
        margin-top: 5px;
    }
    .about .text-part-2 .about-parts p {
        width: 93%;
        margin: 6px auto;
    }
    .about .btn, .about .btn:visited {
        margin-top: 18px;
    }
    
    
    .services .content {
        margin-top: 57px;
    }
    .services .content .box {
        width: 25%;
        padding: 33px 0px;
    }
    

    .portfolio {
        padding-top: 130px;
    }
    .portfolio .img-part {
        padding: 30px 20px 0 20px;
        grid-template-columns: repeat(3, minmax(100px, 300px));
        grid-column-gap: 70px;
    }
    .portfolio .img-part .box {
        height: 300px;
    }
    
    
    .team {
        padding: 130px 0;
    }
    .team .content .box {
        width: 295px;
        height: 350px;
        margin: 30px 20px 0 10px;
    }
}

@media only screen and (max-width: 1200px) {
    
    .text-part h2 {
        font-size: 2.3em;
    }
    .text-part p {
        width: 88%;
        font-size: 1.1em;
        margin: 3px auto;
    }
    
    header {
        align-items: center;
        padding: 12px 90px;
    }
    header .title, header .title:visited {
        font-size: 2.7em;
    }
    header ul {
        display: none;
    }
    header ul.clicked {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: rgba(36, 41, 45,.8);
        width: 100%;
        animation-name: menu-render;
        animation-duration: .3s;
        -webkit-animation-name: menu-render;
        -webkit-animation-duration: .3s;
    }
    @keyframes menu-render { from{width: 0%;} to{width: 100%;} }
    header ul.clicked li{
        border-bottom:rgb(36, 41, 45) solid 5px;
        padding: 20px 50px;
        width: 100%;
    }
    header ul.clicked li a {
        font-size: 1.5em;
    }
    header .menu-btn {
        background: url(../img/svg/menu.svg) no-repeat;
        background-size: cover;
        height: 32px;
        width: 32px;
        transition: transform .5s;
        cursor: pointer;
    }
    header .menu-btn.clicked {
        transform: rotate(-180deg);
        transition: transform .5s;
        background: url(../img/svg/close.svg) no-repeat;
    }
    

    .home .home-left {
        width: 55%;
        height: 70%;
        padding: 0px 0 0 12px;
    }
    .home .home-left  h2 {
        font-size: 1.8em;
        max-width: 80%;
    }
    .home .home-left p {
        max-width: 80%;
        font-size: 1em;
        margin: 7px 0 15px 0;
    }
    .home .btn, .home .btn:visited {
        font-size: 1em;
        width: 120px;
    }
    .home .home-right {
        width: 45%;
    }
    .home .home-right .top .img-box1 {
        width: 260px;
    }
    .home .home-right .top .img-box2 {
        display: none;
    }
    .home .home-right .bottom {
        margin-top: 70px;
    }
    .home .home-right .bottom .img-box1 {
        display: none;
    }
    .home .home-right .bottom .img-box2 {
        height: 360px;
    }


    .about {
        padding-top: 150px;
    }
    .about .text-part p {
        width: 88%;
    }
    .about .text-part-2{
        width: 88%;
        margin-top: 30px;
    }
    .about .text-part-2 .about-parts h4 {
        font-size: 1.5em;
    }
    .about .text-part-2 .about-parts p {
        font-size: 1em;
        width: 90%;
        margin: 2px auto;
        line-height: 32px;
    }
    .about .btn, .about .btn:visited {
        padding: 8px 22px;
        font-size: 1.2em;
        margin-top: 32px;
    }


    .services {
        padding-top: 200px;
    }
    .services .content {
        margin-top: 75px;
    }
    .services .content .box {
        width: 28%;
        padding: 32px 0px;
    }
    .services .content .box .icon-box{
        width: 60px;
        height: 60px;
    }
    .services .content .box h4 {
        font-size: 1.2em;
        margin: 15px 0 5px 0;
    }
    .services .content .box p {
        font-size: 1.55vw;
    }


    .stats {
        padding-bottom: 140px;
    }
    .stats .content {
        margin-top: 75px;
    }
    .stats .content .box h4 {
        font-size: 1.8em;
    }
    .stats .content .box p {
        font-size: 1.1em;
    }


    .portfolio .img-part {
        padding: 30px 20px 0 20px;
        grid-template-columns: repeat(3, minmax(80px, 210px));
        grid-column-gap: 60px;
    }
    .portfolio .img-part .box {
        height: 270px;
    }


    .team {
        padding: 140px 0;
    }
    .team .content .box {
        width: 240px;
        height: 300px;
        margin: 50px 20px 0 9px;
    }

    
    .contact {
        padding-top: 60px;
    }
    .contact .content .message div{
        width: 65%;
    }
    .contact .content .message input, textarea {
        font-size: 1.2em;
    }
    .contact .content .message textarea {
        padding-top: 25px;
    }
    .contact .btn, .contact .btn:visited {
        font-size: 1.3em;
        padding: 3px 20px;
        margin-top: 25px;
    }
    .contact .content .icons {
        border-left: 1px solid white;
    }
    .contact .content .icons i {
        font-size: 1.9em;
        margin: 0 40px;
    }
    .contact .content .contact-bottom {
        padding-top: 45px;
    }
    .contact .content .contact-bottom .address {
        padding: 5px 5px 5px 75px;
        border-right: 1px solid white;
    }
    .contact .content .contact-bottom .address div, .contact .content .contact-bottom .address i {
        font-size: 1em;
    }
    .contact .content .address span {
        margin: 0px 0 13px 33px;
    }

    .copyright-text {
        padding: 20px 0 11px 0;
    }
    
    .top-btn, .top-btn:visited {
        right: 70px;
        padding: 15px;
    }
    .top-btn i {
        font-size: 1.5em;
    }
    .top-btn-display {
        display: block;
    }

}
@media only screen and (max-width: 745px) {   
    .text-part h2 {
        font-size: 1.6em;
    }
    .text-part p {
        width: 90%;
        font-size: .7em;
        margin: 5px auto;
        line-height: 18px;
        letter-spacing: 0px;
    }

    header {
        padding: 14px 55px;
    }
    header .title, header .title:visited {
        font-size: 2.1em;
    }
    header ul.clicked {
        top: 79px;
    }
    header ul.clicked li{
        border-bottom:rgb(36, 41, 45) solid 3px;
        padding: 15px 30px;
    }
    header ul.clicked li a {
        font-size: 1em;
    }
    header .menu-btn {
        height: 27px;
        width: 27px;
    }


    .home .home-left {
        align-items: center;
        width: 45%;
        height: 100%;
        padding: 0;
        border-radius: 0;
        animation-duration: .9s;
        -webkit-animation-duration: .9s;
    }
    .home .home-left  h2 {
        font-size: 1.2em;
    }
    .home .home-left p {
        font-size: .8em;
        letter-spacing: 0;
        margin: 7px 0 15px 0;
    }
    @keyframes home-left-slide { from {transform: translateY(1000px);} to {transform: translateY(0);} }
    .home .btn, .home .btn:visited {
        font-size: .8em;
        width: 100px;
    }
    .home .home-right {
        width: 55%;
        justify-content: space-around;
        animation-duration: .7s;
        -webkit-animation-duration: .7s;
    }
    .home .home-right .top .img-box1 {
        width: 51%;
    }
    .home .home-right .bottom {
        margin-top: 0px;
    }
    .home .home-right .bottom .img-box2 {
        width: 51%;
        height: fit-content;
    }
    @keyframes home-right-slide { from {transform: translateY(-500px);} to {transform: translateY(0);} }

    
    .about {
        padding-top: 100px;
    }
    .about .text-part p{
        width: 80%;
    }
    .about .text-part-2{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 85%;
    }
    .about .text-part-2 .about-parts {
        width: 73%;
        margin: 10px 0;
    }
    .about .text-part-2 .about-parts h4 {
        font-size: 1.1em;
    }
    .about .text-part-2 .about-parts p {
        line-height: 26px;
        margin: 3px auto;
        font-size: .6em;
        line-height: 20px;
    }
    .about .btn, .about .btn:visited {
        padding: 5px 20px;
        font-size: .9em;
        margin-top: 15px;
    }

    
    .services {
        padding-top: 100px;
    }
    .services .content {
        margin-top: 35px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .services .content .box {
        width: 50%;
        padding: 18px 0px;
        margin: 13px 8px;
    }
    .services .content .box .icon-box{
        width: 45px;
        height: 45px;
    }
    .services .content .box h4 {
        font-size: 1em;
        margin: 12px 0 3px 0;
    }
    .services .content .box p {
        font-size: .8em;
        line-height: 20px;
        width: 87%;
    }


    .stats {
        padding-top: 450px;
        margin-top: -335px;
        padding-bottom: 75px;
    }
    .stats .content {
        margin-top: 50px;
    }
    .stats .content .box h4 {
        font-size: 1em;
    }
    .stats .content .box p {
        font-size: .9em;
        margin-top: .9px;
    }

    .portfolio {
        padding-top: 90px;
    }
    .portfolio .img-part {
        padding: 30px 12px 0 12px;
        grid-template-columns: repeat(3, minmax(20px, 120px));
        grid-column-gap: 35px;
    }
    .portfolio .img-part .box {
        height: 160px;
    }
    .portfolio .img-part .box div {
        font-size: 1.2em;
    }


    .team {
        padding: 100px 0;
    }
    .team .content {
        padding: 0 15px;
    }
    .team .content .box {
        width: 165px;
        height: 205px;
        margin: 35px 15px 0 0px;
    }
    .team .content .box .info h3 {
        font-size: 1.2em;
    }
    .team .content .box .info span {
        font-size: .9em;
    }
    .team .content .box .info i {
        font-size: .7em;
        margin: 15px 3px;
    }


    .contact {
        padding-top: 70px;
    }
    .contact .content {
        padding-top: 60px;
    }
    .contact .content .message div{
        width: 75%;
    }
    .contact .content .message input, textarea {
        font-size: .9em;
    }
    .contact .content .message textarea {
        padding-top: 18px;
        height: 115px;
    }
    .contact .btn, .contact .btn:visited {
        font-size: .9em;
        padding: 3px 15px;
        margin-top: 25px;
    }
    .contact .content .icons {
        padding-top: 30px;
        border: 0;
    }
    .contact .content .icons i {
        font-size: 1.2em;
        margin: 0 30px;
    }
    .contact .content .contact-bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        margin-top: 80px;
    }
    .contact .content .contact-bottom .address {
        padding: 30px;
        border: 0;
        border-bottom: .1px solid white;
    }
    .contact .content .contact-bottom .address div  {
        font-size: .7em;
    }
    .contact .content .contact-bottom .address i {
        font-size: 1em;
    }
    .contact .content .address span {
        margin: 0px 0 8px 27px;
    }

    .copyright-text {
        font-size: .6em;
        padding: 20px 0 7px 0;
    }
    
    .top-btn, .top-btn:visited {
        right: 40px;
        padding: 12px;
    }
    .top-btn i {
        font-size: 1.2em;
    }
    .top-btn-display {
        display: block;
    }
}